<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find magician)/urdf/demo.urdf" />
  <node
    name="ros_adapter"
    pkg="magician"
    type="magician_fake_joint_state_publisher" />

z  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find magician)/config/demo.rviz"/>
</launch>
